%ul
  %li
    .user-message
      %p.user-name
        = message.user.name
      %p.datetime
        - time = Time.now
        = time.strftime("%Y/%m/%d %H:%M:%S")
    %p.message-body
      = message.content
