- provide(:title, 'CreateGroup')
- provide(:form_title, '新規チャットグループ')
- provide(:form_id, 'new_chat_group')
- provide(:form_class, 'new_chat_group')
- provide(:form_path, 'groups_path')
- provide(:form_method, 'post')
