// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.initialized {
  height: 30px;
  background-color: $light-blue;
  min-width: 980px;
  color: white;
  @include align-center();

  p {
    margin: 0 auto;
  }
}
.chat {
  min-width: 980px;
  height: 100%;
  @include align-center();

  .chat-side {
    width: 300px;
    height: 1000px;
    background-color: #2f3e51;
    color: white;

    a {
      color: white;
      text-decoration: none;
      &:visited {
        color: white;
      }
    }

    .chat-user {
      height: 100px;
      background-color: #253141;
      @include align-center();

      h5 {
        font-size: 16px;
        font-weight: bold;
        padding-left: 20px;
        line-height: 100px;
      }
      span {
        margin-left: auto;
        padding-right: 20px;
      }
    }
    .chat-group {
      padding: 23px 0 23px 20px;
      background-color: #2f3e51;
      &:hover {
        background-color: #3f4e61;
      }
      .group-name {
        font-size: 15px;
      }
      .message {
        font-size: 11px;
      }
    }
  }
  .chat-main {
    position: relative;
    width: calc(100% - 300px);
    height: 1000px;
    background-color: #f0f0f0;
    .chat-header {
      height: 100px;
      background-color: white;
      border-bottom: 1px solid #ccc;
      @include align-center();

      .group-user {
        padding: 0 40px;
          h4 {
            margin: 0px;
            padding-top: 30px;
            width: 202px;
            font-size: 20px;
      }
          p {
            margin: 0px;
            font-size: 12px;
            padding-top: 10px;
            color: #aaa;
            width: 202px;
            .members {
          }
        }
      }
      .edit {
        height: 40px;
        border: 2px solid $light-blue;
        margin: 0 40px 0 auto;
        @include align-center();

        p {
          color: $light-blue;
          margin: 0 auto;
          padding: 0 20px;
          a {
            text-decoration: none;
            color: $light-blue;
            &:visited {
              color: $light-blue;
            }
          }
        }
      }
    }
    .chat-body {
      li {
        padding: 40px 0 40px 40px;
        .user-message {
          @include align-center();

          .user-name{
            font-size: 16px;
            font-weight: bold;
            padding-right: 5px;
            color: #434a54;
          }
          .datetime {
            padding-left: 5px;
            color: #999;
            font-size: 12px;
          }
        }
        .massage-body {
          padding: 10px 0 40px;
          font-size: 14px;
          color: #434a54;
        }
      }
    }
    .chat-footer {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      height: 90px;
      width: 100%;
      background-color: #ccc;
      @include align-center();

      .send-message {
        height: 50px;
        width: 100%;
        background-color: white;
        margin: 0 10px 0 40px;
        color: #ccc;
        @include align-center();

        p {
          padding: 0 10px;
        }
        a {
          margin-left: auto;
          padding-right: 20px;
          i {
            color: #333;
          }
        }
      }
      .send {
        @include align-center();

        height: 50px;
        width: 60px;
        background-color: $light-blue;
        padding: 0 20px;
        margin: 0 40px 0 10px;
        a {
          color: white;
          text-decoration: none;
          &:visited {
            color: white;
          }
        }
      }
    }
  }
}
