@import "./variable";

@mixin align-center() {
  display: flex;
  align-items: center;
}

@mixin clearfix() {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin color-white() {
  color: white
}

@mixin flash() {
  text-align: center;
  padding-top: 3px;
  color: white;
}

.notice {
  @include flash();
  background-color: $back__notice;
}

.alert {
  @include flash();
  background-color: $back__alert;
}
